In [311]:
import importlib
import pandas as pd
import numpy as np
import os
import py_vollib_vectorized
from datetime import datetime, timedelta
import matplotlib.pyplot as plt

In [318]:
import classes, utils, iv_models
_ = importlib.reload(classes)
_ = importlib.reload(utils)
_ = importlib.reload(iv_models)


from classes import Ticker
from utils import create_market_state
from iv_models import BasicMidIVPolynomial

In [319]:
t = Ticker("AXISBANK", expiry_date="20210624")
oc1 = t.get_option_chain('20210623 09:30:00')
oc2 = t.get_option_chain('20210623 15:15:00')
oc1.fit_iv_model(BasicMidIVPolynomial(2))
oc2.fit_iv_model(BasicMidIVPolynomial(2))

loading data from ./data/20210624/influxOP_AXISBANK21JUN_20210624.csv
loading data from ./data/20210623/influxOP_AXISBANK21JUN_20210623.csv

In [320]:
oc1.df

,level_0,strike,askPrice_1,bidPrice_1,futPrice,spread,time_to_expiry,moneyness,instrument,bid_iv,ask_iv,mid_iv,spread_iv
463,2021-06-23 09:30:00,65000,10.0,5.0,74187.5,5.0,0.003938,-0.132208,p,0.807467,0.873670,0.840568,0.066203
464,2021-06-23 09:30:00,68000,45.0,5.0,74187.5,40.0,0.003945,-0.087088,p,0.555128,0.758486,0.656807,0.203358
465,2021-06-23 09:30:00,69000,20.0,15.0,74187.5,5.0,0.003944,-0.072489,p,0.544620,0.568566,0.556593,0.023946
466,2021-06-23 09:30:00,70000,30.0,25.0,74187.5,5.0,0.003938,-0.058100,p,0.489457,0.505142,0.497299,0.015684
467,2021-06-23 09:30:00,71000,45.0,35.0,74187.5,10.0,0.003938,-0.043916,p,0.413332,0.434817,0.424074,0.021485
468,2021-06-23 09:30:00,72000,80.0,70.0,74187.5,10.0,0.003938,-0.029930,p,0.358316,0.371170,0.364743,0.012854
469,2021-06-23 09:30:00,73000,160.0,150.0,74187.5,10.0,0.003938,-0.016136,p,0.299687,0.307458,0.303573,0.007771
470,2021-06-23 09:30:00,74000,340.0,330.0,74187.5,10.0,0.003938,-0.002531,p,0.224848,0.230325,0.227586,0.005477
471,2021-06-23 09:30:00,75000,155.0,150.0,74187.5,5.0,0.003938,0.010892,c,0.237014,0.240501,0.238758,0.003488
472,2021-06-23 09:30:00,76000,60.0,50.0,74187.5,10.0,0.003938,0.024138,c,0.278297,0.291534,0.284916,0.013237
473,2021-06-23 09:30:00,77000,35.0,30.0,74187.5,5.0,0.003938,0.037210,c,0.348241,0.359021,0.353631,0.010780
474,2021-06-23 09:30:00,78000,25.0,20.0,74187.5,5.0,0.003938,0.050113,c,0.413144,0.429004,0.421074,0.015860
475,2021-06-23 09:30:00,79000,20.0,15.0,74187.5,5.0,0.003938,0.062852,c,0.477782,0.499126,0.488454,0.021344
476,2021-06-23 09:30:00,80000,15.0,10.0,74187.5,5.0,0.003939,0.075431,c,0.527909,0.557933,0.542921,0.030024
477,2021-06-23 09:30:00,87000,10.0,5.0,74187.5,5.0,0.003958,0.159312,c,0.937456,1.010016,0.973736,0.072560

In [321]:
oc1.ivs_prices_greeks([73000, 74000])

,index,strike,futPrice,moneyness,instrument,time_to_expiry,fit_iv,delta,gamma,theta,rho,vega,fit_price,moneyness,greek_0,greek_1,greek_2
0,0,73000,74187.5,-0.016136,p,0.003938,0.343051,-0.223522,0.000187,-172.889185,-0.661159,13.907123,207.933975,-0.016136,0.000260,-0.016136,1.0
1,1,74000,74187.5,-0.002531,p,0.003938,0.330073,-0.447281,0.000257,-270.850556,-1.327229,18.409612,523.044371,-0.002531,0.000006,-0.002531,1.0